@page
@model PRN221_FinalProject.Pages.Schedules.AddModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label for="classSelect">Class:</label>
                    <select id="classSelect" name="ClassId" class="form-control">
                        @foreach (var classItem in Model.classes)
                        {
                            <option value="@classItem.ClassId">
                                @classItem.ClassName
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="subjectSelect">Subject:</label>
                    <select id="subjectSelect" name="SubjectId" class="form-control">
                        @foreach (var subjectItem in Model.subjects)
                        {

                            <option value="@subjectItem.SubjectId">
                                @subjectItem.SubjectName
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="teacherSelect">Teacher:</label>
                    <select id="teacherSelect" name="TeacherId" class="form-control">
                        @foreach (var teacherItem in Model.teachers)
                        {

                            <option value="@teacherItem.TeacherId">
                                @teacherItem.TeacherName
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="roomSelect">Room:</label>
                    <select id="roomSelect" name="RoomId" class="form-control">
                        @foreach (var roomItem in Model.rooms)
                        {

                            <option value="@roomItem.RoomId">
                                @roomItem.RoomName
                            </option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="timeSlotInput">Time Slot:</label>
                    <input type="text" id="timeSlotInput" name="timeSlot" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="weekNumberInput">Week Number:</label>
                    <input type="text" id="weekNumberInput" name="weekNumber" class="form-control" />
                </div>
                <input type="submit" value="Add" asp-page-handler="add" />
                @* <button type="submit" class="btn btn-primary" name="handler" value="add">Add</button> *@
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <a href="/Schedules/Import" class="btn btn-secondary">Import your schedule</a>
    @if (Model.Errors != null && Model.Errors.Any())
    {
        <div class="alert alert-danger mt-3">
            <ul>
                @foreach (var error in Model.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
</div>